body {background-color:#ffe8f6}
table {
  font-family: 'Lucida Bright';
  border-collapse: collapse;
  width: 65%;
}
td, th {
  border: 1px solid #6e2f52;
  text-align: left;
  padding: 8px;
  margin: 50px;
}
tr:nth-child(odd) {
  background-color: #dba7b5;
}
p {
  font-family: 'Lucida Bright';
  text-align: justify;
  width: 65%;
  margin: 25px 50px 75px 100px;
}
h1 {
  position: sticky;
  font-family: 'Lucida Bright'; 
  color:#301324
}
h2 {
  font-family: 'Lucida Sans Unicode'; 
  color:#6e2f52
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
